html {
  font-family: helvetica;
}

#header {
  font-size: 50px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background: url("../images/pattern.jpg");
}

.products h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.products a {
  color: blue;
  font-weight: bold;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}
